<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="MyCompany\AdminLogger\Model\ResourceModel\ActionLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">my_company_admin_action_log</argument>
            <argument name="resourceModel" xsi:type="string">MyCompany\AdminLogger\Model\ResourceModel\ActionLog</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mycompany_adminlogger_log_listing_data_source" xsi:type="string">MyCompany\AdminLogger\Model\ResourceModel\ActionLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

<!--    <type name="Magento\Framework\Data\Form\FormKey\Validator">-->
<!--        <plugin name="mycompany_adminlogger_disable_formkey" type="MyCompany\AdminLogger\Plugin\DisableFormKeyValidator" />-->
<!--    </type>-->

    <virtualType name="MyCompany\AdminLogger\Observer\ProductSave" type="MyCompany\AdminLogger\Observer\LogAdminAction">
        <arguments>
            <argument name="actionType" xsi:type="string">save</argument>
            <argument name="entityType" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
    <virtualType name="MyCompany\AdminLogger\Observer\ProductDelete" type="MyCompany\AdminLogger\Observer\LogAdminAction">
        <arguments>
            <argument name="actionType" xsi:type="string">delete</argument>
            <argument name="entityType" xsi:type="string">product</argument>
        </arguments>
    </virtualType>
</config>
