<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Store:etc/config.xsd">
    <default>
        <carriers>
            <storepickup>
                <active>1</active>
                <model>MyCompany\StorePickup\Model\Carrier\StorePickup</model>
                <title>Store Pickup</title>
                <name>Store Pickup</name>
                <price>0.00</price>
                <specificerrmsg>This shipping method is not available at the moment</specificerrmsg>
                <sallowspecific>0</sallowspecific>
            </storepickup>
        </carriers>
    </default>
</config>
