<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="export_status" xsi:type="string">sales_order.export_status</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MyCompany\OrderExport\Model\Export\JsonDataBuilder">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="standard" xsi:type="object">MyCompany\OrderExport\Model\Export\Strategy\Standard</item>
                <item name="detailed" xsi:type="object">MyCompany\OrderExport\Model\Export\Strategy\Detailed</item>
            </argument>
        </arguments>
    </type>
</config>
