<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="catalog_product_save_after">
        <observer name="mycompany_logger_product_save" instance="MyCompany\AdminLogger\Observer\ProductSave" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="mycompany_logger_product_delete" instance="MyCompany\AdminLogger\Observer\ProductDelete" />
    </event>

    <event name="catalog_category_save_after">
        <observer name="mycompany_logger_category_save" instance="MyCompany\AdminLogger\Observer\CategorySave" />
    </event>

    <event name="customer_save_after">
        <observer name="mycompany_logger_customer_save" instance="MyCompany\AdminLogger\Observer\CustomerSave" />
    </event>

    <event name="controller_action_postdispatch_adminhtml_catalog_product_edit">
        <observer name="mycompany_logger_product_edit" instance="MyCompany\AdminLogger\Observer\ProductEdit" />
    </event>

    <event name="sales_order_save_after">
        <observer name="mycompany_logger_order_save" instance="MyCompany\AdminLogger\Observer\OrderSave" />
    </event>

    <event name="cms_page_save_after">
        <observer name="mycompany_logger_cms_page_save" instance="MyCompany\AdminLogger\Observer\CmsPageSave" />
    </event>

    <event name="cms_page_delete_after">
        <observer name="mycompany_logger_cms_page_delete" instance="MyCompany\AdminLogger\Observer\CmsPageDelete" />
    </event>

    <event name="catalog_category_delete_after">
        <observer name="mycompany_logger_category_delete" instance="MyCompany\AdminLogger\Observer\CategoryDelete" />
    </event>

    <event name="controller_action_postdispatch_adminhtml_catalog_category_edit">
        <observer name="mycompany_logger_category_edit" instance="MyCompany\AdminLogger\Observer\CategoryEdit" />
    </event>

    <event name="customer_delete_after">
        <observer name="mycompany_logger_customer_delete" instance="MyCompany\AdminLogger\Observer\CustomerDelete" />
    </event>

    <event name="controller_action_postdispatch_adminhtml_customer_index_edit">
        <observer name="mycompany_logger_customer_edit" instance="MyCompany\AdminLogger\Observer\CustomerEdit" />
    </event>

    <event name="controller_action_postdispatch_adminhtml_sales_order_view">
        <observer name="mycompany_logger_order_view" instance="MyCompany\AdminLogger\Observer\OrderView" />
    </event>
</config>
